.byDayDay{
    font-size: 15px;
    font-weight: 600;
}

.byDayPopIcon {
    color: #5e51ed;
}

.byDayPop {
    font-size: 13px;
}

.byDayIcon {
    height: 35px;
    width: 30px;
    object-fit: cover;
}

.byDayTemp {
    font-size: 15px;
    font-weight: 600;
}