

.cardWeather {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.2s ease;
    padding: 15px;
    margin: 15px;
    background-color: rgba(230, 230, 230, 0.6) !important;
    width: 300px !important;
    min-width: 300px !important;
    height: 300px !important;
    border-radius: 30px !important;
    backdrop-filter: blur(15px) !important;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(20px);  
    }
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }

}

.cardWeather:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.02);
}

#closeIcon {
    font-weight: 500;
    color: red !important;
    transition: 0.2s;
}

#closeIcon:hover {
    cursor: pointer;
    font-weight: 500;
    color: red !important;
    transform: scale(1.02);
}

#cardTitle {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

#cardMax {
    font-size: 25px;
    color: red;
    font-weight: 600;
}

#cardMin {
    font-size: 20px;
    color: blue;
    font-weight: 600;
    padding-left: 10px;
}

#cardImg {
    width: 100px;
    height: 100px;
}